body 
{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header 
{
    height: 12rem;
    font-size: 1.3rem;
    width: 100%;
    background-color: rgb(0, 120, 255);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) inset;
    border-bottom: 5px solid rgb(38, 139, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
}

main
{
    padding-top: 0rem;
    max-width: 50rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.try
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main
{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.buttons
{
    width: 100%;
    display: flex;
}

.buttons > button
{
    flex: 1;
    border: 0;
    border: 2.5px solid #ddd;
    background-color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-top: 0;
    border-right: none;
    transition: 0.1s ease;
}

.buttons > button:last-child
{
    border-right: 2.5px solid #ddd;
}

.buttons > button:hover 
{
    background-color: #ddd;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) inset;
    color: white;
}

h2
{
    margin-top: 5rem;
    text-decoration: underline 2px solid rgb(0, 120, 255);
}

h2:first-child
{
    margin-top: 2rem;
    text-decoration: underline 4px solid rgb(0, 120, 255);
}

code 
{
    background-color: #111;
    padding: 1rem;
    color: white;
    border-radius: 5px;
    border: 1px solid #555;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#target 
{
    transition: 0.1s ease;
}

.stamp
{
    position: fixed;
    bottom: 0;
    right: 1rem;
    color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}